body
{
	font-family:Open Sans;
}

/* En tête */

	header
	{
		width:100%;
		background-image: url(img/barre_haut.jpg);
		background-size: cover;
		background-position: center center;
		height:124.5px;
	}
	h1{display:none;}

	
	#logo-rambla
	{
		width:10%;
		min-width:100px;
		height:125px;
		/* Transitions */
		display:inline-block;
		background-image:url('img/logo.jpg');
		background-color:white;
		background-size:contain;
		background-position:center;
		background-repeat:no-repeat;
		text-indent:-9999px;
	}
	
	header nav
	{
		margin-top:95px;
		background: #6F0000;
		width: 90%;
		display: block;
		bottom: 0px;
		height: 30px;
		text-align: center;
		float: right;
		line-height: 30px;
	}
		header nav ul
		{
			margin:0px;
		}
		header li{
			list-style:none;
			text-decoration:uppercase;
			display:inline-block;
			margin-left:30px;
		}
			header li a{
				text-decoration:none;
				color:white;
			}
			header li a:hover{
				border-bottom: white solid 3px;
				padding-bottom: 1px;
			}
			
			header li.home:before, header li.emprunts:before,header li.compte:before{
				margin-right: 5px;
				color: white;
				font-family: FontAwesome;
			}
				header li.home:before{
					content: "\f015";
				}
				header li.emprunts:before{
					content: "\f02d";
				}			
				header li.compte:before{
					content: "\f013";
				}			

/* Formulaire recherche*/

#monform
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;	
}

	#recherche>input,#recherche>select,#recherche>label{display:inline-block;}

	/* form de recherche */
	#recherche>label
	{width:20%;}

	#recherche>input,#recherche>select
	{
		width:74%;	
		padding: 5px 2.5%;
		border-radius: 20px 20px 20px 20px;
		-moz-border-radius: 20px 20px 20px 20px;
		-webkit-border-radius: 20px 20px 20px 20px;
		border: 0px solid #000000;
		background:#fff;
		-webkit-box-shadow: inset 7px 13px 132px -13px rgba(0,0,0,0.15);
		-moz-box-shadow: inset 7px 13px 132px -13px rgba(0,0,0,0.15);
		box-shadow: inset 7px 13px 132px -13px rgba(0,0,0,0.15);		
	}
	#recherche>input[type='submit']
	{
		display:block;
		float:right;
		margin:10px;
		width:20%;
	}

/* tableau */

table{
	margin:1em 0em;
	width:100%;
}

th
{
	background-color:#6F0000;
	color:white;
	font-style:bold;
	border:0px solid;
	width:20%;
}
	th:first-child,td:first-child
	{
		width:5%;
	}
	th:nth-child(2),td:nth-child(2){width:45%;}


	.titre a
	{
		color:black;
		-webkit-transition: color 1s ease;
		-moz-transition: color 1s ease;
		-ms-transition: color 1s ease;
		-o-transition: color 1s ease;
		transition: color 1s ease;
		text-decoration:none;
	}
	.titre a:hover
	{
		color:#6F0000;
	}
	.titre.pris::after
	{
		content:" (Réservé)";
		color:red;
		font-size:bold;
	}
	
#resultats
{
    height: 500px;
    overflow-y: none;
    width: 100%;
}
tbody>tr
{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	height:2em;
}
	tbody>tr:hover
	{
		font-size:1.5em;
		height:5em;
	}
	
	tbody>tr:nth-child(even)
	{
		background:#eee;
	}